@font-face{
    src: url(../font/TIMESR.ttf);
    font-family: times;
    

}

body{
    font-family: 'Times New Roman';
    margin: 0px;
    padding: 0px;
    font-size: 15px;
    color: #000000;
    background: #ffffff;
}
.wrapper {
    width: 502px;
    margin: 8px auto 10px auto;
    border: .1px solid #dfdfdf;  
}
.player-info img {
    width: 90px;
    height: 90px;
    margin-right: 5px;
}
.player-info {
    display: flex;
    margin: 0px 10px 0px 10px;
}
.player-info info{
    overflow: scroll;
}
.info {
    width: 390px;
    height: 100px;
    overflow: scroll;
    list-style: none;
    padding-left: 5px;
    margin-top: 0;

}
.player-title {
    font-size: 17px;
    padding-left: 5px;
}
 .player-title {
    background-image: url(../img/title_bg.gif);
    background-repeat: repeat-x;
    margin: 0 1px 5px 0;
}
.acts li{
    list-style: none;
    padding-bottom: 7px;
}
.acts .title{
    padding-left: 5px;
    font-size: 17px;
    margin: unset;
}
.acts li::before{
    content: url(../img/star.png);
    margin-right: 5px;
}
.acts ul{
    margin-top: 20px;
    margin-bottom: 65px;
    margin-right: 30px;
}
.post-contain{
    background-color: #ececec;
    max-width: 491px;
    padding: 2px;
    margin-left: 3px;
    position: relative;
    font-size: 15px;
}
.post-contain p {
    margin: 3px 3px 3px 20px;
}
.post .post-contain::after{
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 13.5px solid transparent;
    border-right: 13.5px solid transparent;
    border-top: 12px solid #ECECEC;
    top: 100%;
    left:19px;  
}
.post .post-cmt {
    margin-left: 51px;
    margin-top: 1px;
    margin-bottom: 5px;
    font-size: 13px;
}
.comment td{
    /* text-align: center;font-size: 17px;
    font-weight: bold;
    margin: unset;
    margin-top: 29px; */
    font-family: serif;
    text-shadow: 0 -0.5px #000000;
    padding-left: 5px;
}
textarea {
    height: 84px;
    width:370px;
    font-weight: 540;
    resize: none;
    border: 1px solid #e2e2e2;
    text-shadow: 0 -0.5px #000000;
    font-size: 15px;
    font-family: 'Times New Roman';
}
.post-cmt a{
    text-decoration: none;
}
.table {
    font-size: 15px;
    width: 100%;
}
.your-comment{
    text-align: center;
    margin: unset;
    margin-top: 29px;
    text-shadow: 0 -0.5px #000000;
    font-size: 17px;
}
.comment input {
    width: 142px;
    height: 17px;
    padding: 0;
    margin: 0;
    border: 1px solid #e2e2e2;
}
