body{
    margin: 0px;
    padding: 0px;
}

.wrapper {
    width: 502px;
    height: 685px;
    margin-top: 8px!important;
    margin: 0 auto;
    margin-bottom: 10px;
    border: .1px solid black;
}
.player-info img {
    width: 100px;
    height: 90px;
    margin-right: 5px;
}
.player-info {
    display: flex;
    margin: 10px;
}
.player-info info{
    overflow: scroll;
}
ul.info {
    width: 390px;
    height: 100px;
    overflow: scroll;
    margin: 0;
    list-style: none;
    padding-left: 10px;
}

.player-title h3 {
    font-size: 17px;
    padding-left: 10px;
}
.player-title h3{
    background-image: url(../img/title_bg.gif);
    background-repeat: repeat-x;
    line-height: 25px;
    margin-top: 10px;
    margin-right: 1px;
}

.acts li{
    list-style: none;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-bottom: 7px;
}
.acts .title{
    padding-left: 10px;
    font-size: 17px;
    margin: unset;
}
.acts li::before{

    content: url(../img/star.png);
    margin-right: 5px;
}
.acts ul{
    margin-left: 40px;
    margin-top: unset;
}

.post .post-contain{
    background-color: #ececec;
    max-width: 491px;
    padding: -2px;
    padding: 2px;
    margin-left: 3px;
    /* margin-bottom: 50px; */
    position: relative;
}
.post-contain p {
    margin: 3px;
}



.post .post-contain::after{
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #ECECEC;
    top: 100%;
    left: 10%;
    
}
.post .post-cmt {
    margin-left: 88px;
    margin-top: 1px;
    margin-bottom: 5px;
}

.comment h4{
    text-align: center;font-size: 17px;
    font-weight: bold;
}