body{
    margin: 0px;
    padding: 0px;
}

.wrapper {
    width: 502px;
    height: 762px;
    margin-top: 8px!important;
    margin: 0 auto;
    margin-bottom: 10px;
    border: .1px solid #dfdfdf;
    
}
.player-info img {
    width: 100px;
    height: 90px;
    margin-right: 5px;
}
.player-info {
    display: flex;
    margin: 10px;
}
.player-info info{
    overflow: scroll;
}
ul.info {
    width: 390px;
    height: 100px;
    overflow: scroll;
    margin: 0;
    list-style: none;
    padding-left: 10px;
    font-size: 15px;
}

.player-title h3 {
    font-size: 17px;
    padding-left: 5px;
}
.player-title h3{
    background-image: url(../img/title_bg.gif);
    background-repeat: repeat-x;
    line-height: 25px;
    margin-top: 0px;
    margin-right: 1px;
}

.acts li{
    list-style: none;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-bottom: 7px;
}
.acts .title{
    padding-left: 5px;
    font-size: 17px;
    margin: unset;
}
.acts li::before{

    content: url(../img/star.png);
    margin-right: 5px;
}
.acts ul{
    /* margin-left: 20px; */
    margin-top: 20px;
    margin-bottom: 65px;
}

.post .post-contain{
    background-color: #ececec;
    max-width: 491px;
    padding: -2px;
    padding: 2px;
    margin-left: 3px;
    position: relative;
    font-size: 15px;
    height: 44px;
}
.post-contain p {
    margin: 3px;
    margin-left: 20px;
}



.post .post-contain::after{
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 13.5px solid transparent;
    border-right: 13.5px solid transparent;
    border-top: 12px solid #ECECEC;
    top: 100%;
    left:19px;
    
}
.post .post-cmt {
    margin-left: 51px;
    margin-top: 1px;
    margin-bottom: 5px;
    font-size: 13px;
}

.comment h4{
    text-align: center;font-size: 17px;
    font-weight: bold;
    margin: unset;
    margin-top: 29px;
}

textarea {
    /* max-width: 380px; */
    /* max-height: 70px; */
    max-height: 84px;
    font-family: 'Times New Roman', Times, serif;
    max-width: 370px;
    
}

.acts {
    margin-top: 20px;
}
.post-cmt a{
    text-decoration: none;
}
.table {
    font-size: 15px;
    width: 100%;
}
input[type="text"] {
    width: 142px;
    height: 17px;
    padding: 0;
    margin: 0;
}
