@charset "UTF-8";

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1.5;
    color: #097680;
    font-size: 10px;
    font-weight: bold;
}

ol,
ul,
li {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

.container {
    display: block;
    max-width: 640px;
    margin: 0 auto;
    background: url("../images/wall-texture.jpg") repeat-Y;
}

.header {
    display: block;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.header .icon {
    display: inline-block;
    position: absolute;
}

.header .icon-1 {
    top: 0;
    left: 0;
    width: 11.2%;
}

.header .icon-2 {
    right: 0;
    top: 30%;
    width: 14.9%;
}

.header .icon-3 {
    left: 0;
    bottom: 5%;
    width: 15.1%;
}

.header .icon-4 {
    left: 0;
    bottom: 39%;
    width: 7.8%;
}

.film {
    display: block;
    width: 100%;
    background: url("../images/wall-texture.jpg") no-repeat;
}

.film .film__light {
    padding: 0;
    display: block;
}

.film__title {
    display: block;
    padding: 2%;
}

.film iframe {
    display: block;
    width: 95.625%;
    margin: 0 auto;
    padding: 2% 0 5% 0;
}

.film img {
    display: block;
    padding: 1% 0 2% 0;
}

.product,
.guide,
.footer {
    display: block;
    width: 100%;
}

.product__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
}

.product__content {
    display: block;
    width: 50%;
}

.product .product-1,
.guide .product-1,
.footer .product-1 {
    width: 100%;
    display: block;
}

.guide {
    background-color: #e0d377;
}

.guide__title {
    display: inline-block;
    text-align: left;
    font-size: 42px;
    font-weight: bold;
    padding: 0 0 2% 3%;
    font-family: デバイスフォント;
}

.guide__content {
    display: block;
    width: 98%;
    padding: 2% 1;
}

.guide__button {
    display: block;
    width: 95.15625%;
    margin: 0 auto;
    padding: 5% 0;
}

.footer {
    overflow: hidden;
    background: url("../images/footer_bg.jpg") repeat-Y;
}

.footer__content {
    position: relative;
    width: 95.625%;
    margin: 0 auto;
    margin-top: 5%;
    padding: 10% 0 1% 0;
    background: url("../images/sp_footer_content.png") repeat-Y;
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    opacity: 0.8;
}

.footer__content .icon {
    display: inline-block;
    position: absolute;
}

.footer__content .icon-1 {
    top: 17%;
    left: -2%;
    width: 30.1%;
}

.footer__content .icon-2 {
    right: -2%;
    top: 25%;
    width: 24.3%;
}

.footer__content .icon-3 {
    left: -2%;
    bottom: 47%;
    width: 23.9%;
}

.footer__content .icon-4 {
    right: -2%;
    bottom: 14%;
    width: 19.2899999999999%;
}

.footer__content .icon-5 {
    bottom: 0;
    right: 0;
    width: 18.92%;
}

.footer .introduction {
    display: block;
    width: 94.77124183006536%;
    margin: 6% auto;
    position: relative;
    background: url("../images/bg_introduction.png") repeat-Y;
}

.footer .introduction__content {
    display: block;
    padding: 2% 0;
}

.footer__title {
    font-size: 45px;
    color: #3f17a1;
    text-align: center;
    padding: 2% 0;
}

.footer .contact {
    display: block;
    width: 94.77124183006536%;
    margin: 2% auto;
}

@media (max-width: 460px) {
    .guide__title {
        display: block;
        text-align: center;
        font-size: 35px;
        padding-left: 0;
    }

    .footer__title {
        font-size: 35px;
    }
}