body:before{
    display: none;
}

.headerIn{
    display: flex;
    align-items: center;
    margin: 0.5625em 1.8125em;
    .header__phone {
        position: absolute;
        right: 1.8125em;
    }
}
.header__title {
    h1{
        height: 32px;
    }
}
.header {
    border-bottom: 0.625em solid #b98030;
}

.main{
    background-image: url(../../images/bg.png);
    height: 5690px;
    // height: 5920px;
    /* padding: 18px 30px 34px 0; */
    padding-top: 18px;
    padding-right: 34px;
    padding-left: 30px;
    
    .block-1{
        background-image: url(../../images/bg-1.png);
        height: 1165px;
        width: 100%;
        background-repeat: no-repeat;
        background-size: auto;
        position: relative;
        .row {
            width: 98%;
        }
    }
    img{
        position: absolute;
        
    }
    .item1{
        top: 6px;
        right: -33px;
    
    }
    .item2 {
        top: 20px;
        left: 18px;
        z-index: 10;
    }
    .block-1-left{
        
        .item3{
            position: absolute;
            top: 97px;
            left: -6px;
            z-index: 10;
        }
        h1{
            position: absolute;
            top: 186px;
            left: 25px;
            z-index: 10;
        }
        .item4{
            position: absolute;
            top: 408px;
            left: 35px;
            z-index: 10;
        }
        span{
            position: absolute;
            top: 512px;
            left: 24px;
            z-index: 10;
        }
    }
    
}