
*{
    margin: 0;
    padding: 0;
}
.wapper {
    width: 1088px;
    margin: 0 auto;
    position: relative;
    
}
ul{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.product-promotion li:nth-child(odd) a {
    bottom: 25px;
    left: 67px;
}

.product-promotion li:nth-child(odd) a{
    display: inline-block;
    position: absolute;
    width: 418px;
    height:49px;
    background: url(../img/btn_mango_off.png);
    z-index: 1;
}
.product-promotion li{
    position: relative;
}
.slider {
    display: block;
}
/* ul li{
    max-height: 299px;
} */

.product-promotion li:nth-child(even) a {
    bottom: 25px;
    right: 67px;
}

.product-promotion li:nth-child(even) a{
    display: inline-block;
    position: absolute;
    width: 418px;
    height: 49px;
    background: url(../img/btn_mango_off.png);
    z-index: 1;
}
.product-promotion li a:hover {
    background: url(../img/btn_mango_on.png);
}
.titel-step-by-step{
   
    display: block;
}
img {
    display: block;
}
.header, ul , .titel-step-by-step,.step-1,.step-2,.step-3, .feedback,.combo,.title-sales,.contact,.footer{
    display: flex;
    justify-content: center;
}

