
*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../img/bg.png);
}

.wapper {
    width: 1124px;
    margin: 0 auto;
    position: relative;
    
}
ul{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.Product-promotion li:nth-child(odd) a {
    bottom: 25px;
    left: 115px;
}

.Product-promotion li:nth-child(odd) a{
    display: inline-block;
    position: absolute;
    width: 418px;
    height: 48px;
    background: url(../img/btn_mango_on.png);
    z-index: 1;
}
.Product-promotion li{
    position: relative;
}
.slider {
    max-height: 574px;
}
ul li{
    max-height: 299px;
}

.Product-promotion li:nth-child(even) a {
    bottom: 25px;
    right: 115px;
}

.Product-promotion li:nth-child(even) a{
    display: inline-block;
    position: absolute;
    width: 418px;
    height: 48px;
    background: url(../img/btn_mango_on.png);
    z-index: 1;
}
.Product-promotion li a:hover {
    background: url(../img/btn_mango_off.png);
}
.titel-step-by-step{
    margin-top: 18px;
    max-height: 207px;
}
.step-1{
    max-height: 410px;
}
.step-2{
    max-height: 411px;
}
.step-3 {
    max-height: 450px;
}
.feedback {
    max-height: 558px;
}
.combo {
    max-height: 714px;
}
.title-sales{
    max-height: 204px;
}
.contact {
    max-height: 222px;
}

