body {
    background-color: black;
    margin: 0;
    padding: 0;
}

.header{
    background-image: url(../img/bgheader.png);
    height: 255px;
    background-size: 100%;
    position: relative;
}
.header span{
    color: white;
}

/* .header .bg{
    background-image: url(../img/bg_eff.png);
    width: 100%;
    height: 100%;
    background-repeat:no-repeat;
    
} */
.nav ul li{
    color: white;
    font-size: 20px;
    list-style: none;
    float: left;
    /* padding-left: 30px;
    padding-right: 30px; */
    width: 140px;
    text-align: center;
    padding-right: 3px;
}
.nav ul a {
    text-decoration: none;
}
.nav ul img {
    width: 136px;
    height: 85px;
}
.nav {
    position: absolute;
    top: 183px;
    margin-left: 30px;
}
.bg img{
    margin-top: 80px;
    margin-left: 70px;
}
.main {
    margin-top: 110px;
    color: white;
    display: flex;
}

.main .sidebar{
      /* width: 400px; */
      margin-left: 75px;
      width: 233px;
      background: #1f1f1f;
      height: 360px;
}
.block-1 {
    /* margin: 20px; */
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    border-top: 1px solid #7e7e7e;
}

.block-2 {
    /* margin: 20px; */
    margin-top: 70px;
    margin-left: 20px;
    margin-right: 20px;
    border-top: 1px solid #2c2c2c;
}
.block-1 p{
    color: #595959;
    text-align: center;
    padding: -8px 33px;
    font-size: 13px;
    padding: 8px 32;

    margin: 28px 0;
}
.block-2 ul li a{
    color: #595959;
}
.block-2 ul {
    list-style: none;
    line-height: 13px;
    font-size: 13px;
}

.block-2 li:before {
    content: "";
    border-color: transparent #707070;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 1.2em;
    position: relative;
}

.content {
    width: 400px;
    margin-left: 38px;
}

.more{
    margin-top: 18px;
    margin-left: 16px;
    width: 115px;
    height: 20px;
}
img.bner {
    margin-top: 40px;
    width: 392px;
    height: 122px;
}
.block-3 p{
    margin-left: 18px;
    color: #505959;
    padding-bottom: 18px;
    border-bottom: 1px dotted #323232;
    font-size: 11px;
    margin-bottom: 17px;
}
.block-3 a {
    color: white;
    text-decoration: none;
    margin-left: 18px;
}
.click-web::before {
    content: url(../img/arr_1.gif);
    padding-right: 5px;
}

.footer{
    margin-top: 78px;
    margin-left: 76px;
    /* padding: 20px; */
    border-top: 1px dotted #323232;
    width: 640px;
    color: #505959;
    font-family: sans-serif;
    padding-left: 7px;
    padding-top: 25px;
    padding-bottom: 65px;
    width: 660px;
    font-size: 10px;
}

.footer a{
    color: #505959;
}


